/* You can add global styles to this file, and also import other style files */
@use "../../xpr/simple-form/themes/theme";
html,
body {
  color: black;
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: white;
}

