fieldset {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  color: white;
  background-color: #232323; // todo variable

  legend, h3, label {
    font-size: 1em;
    font-family: monospace;
  }

  legend {
    background-color: black; // todo variable
    width: calc(100% - 2em);
    cursor: pointer;
    padding: .5em 1em;
    margin: 0;
    display: block;
  }

  h3 {
    font-weight: normal;
    padding: .7em 1em;
    margin: 0;
  }

  section {
    padding: 0 1em;

    label {
      display: flex;
      height: 2.2em;
      align-items: center;

      span {
        padding-inline-start: 1.5em;
      }

      span:has(+ :not([type="checkbox"]), + :not([type="color"])) {
        flex: 2;
      }

      select,
      input:not([type="checkbox"], [type="color"]) {
        flex: 8;
      }

      span:has(+ [type="checkbox"], + [type="color"]) {
        flex: 9;
      }

      input:is([type="checkbox"], [type="color"]) {
        flex: 1;
      }
    }
  }


  section:last-child {
    margin-bottom: 1em;
  }

  // form elements

  input[type='text'],
  input[type='number'],
  input[type='date'],
  textarea,
  select {
    color: var(--xpr-simple-form-elements-border-color, black);
    background-color: var(--xpr-simple-form-elements-background-color, white);
    border: 1px solid var(--xpr-simple-form-elements-border-color, red);
    border-radius: var(--xpr-simple-form-elements-border-radius, 5px);
    white-space: pre;
    width: 100%;
    padding: 0 .2em;
  }

  input[type='text'],
  input[type='number'],
  input[type='date'],
  textarea {
    height: 1.7em;
  }

  select {
    height: 1.85em;
  }

  input[type='checkbox'] {
    max-width: 1em;
  }

  input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2em;
    max-width: 2em;
    height: 2em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  input[type='color']::-webkit-color-swatch {
    border-radius: var(--xpr-simple-form-elements-border-radius, 5px);
    border: none;
  }

  input[type='color']::-moz-color-swatch {
    border-radius: var(--xpr-simple-form-elements-border-radius, 5px);
    border: none;
  }
}
